<% provide(:title, "Creating a new genre") %>
<% if @genre.errors.any? %>
  <% @genre.errors.full_messages.each do |msg| %>
    <div>ERROR: <%= msg %></div>
  <% end %>
<% end %>
<%= render partial: "form" %>
