<% provide(:title, "Genres") %>
<span class="row col-md-10 float-end">
  <span class="col-md-7">
    <h3>Name</h3>
  </span>
  <span class="col-md-3">
    <h3>Vocal?</h3>
  </span>
</span>
<%= render collection: @genres, partial: 'genre' %>
