<% provide(:title, "Genres") %>
<div class="row col-md-12">
  <div class="col-md-8">
    <h3>Name</h3>
  </div>
  <div class="col-md-4">
    <h3>Vocal?</h3>
  </div>
</div>
<%= render collection: @genres, partial: 'genre' %>
