<% provide(:title, "Dashboard") %>
<div class="row col-md-12">
  <%= link_to "Add a new work", new_work_path %>
</div>
<div class="row col-md-12">
  <%= link_to "Add a genre", new_genre_path %>
</div>
<div class="row col-md-12">
  <%= link_to "Add an instrument", new_instrument_path %>
</div>
