<% provide(:title, "Dashboard") %>
<span class="row col-md-10 float-end">
  <%= link_to "Add a new work", new_work_path %>
</span>
<span class="row col-md-10 float-end">
  <%= link_to "Add a genre", new_genre_path %>
</span>
<span class="row col-md-10 float-end">
  <%= link_to "Add an instrument", new_instrument_path %>
</span>
<span class="row col-md-10 float-end">
  <%= link_to "View all works", works_path %>
</span>
