#!/bin/bash

export ADMIN_PASSWORD=[set at runtime]
export APP_HOST=https://sowash.blurve.net
export MEDIA_HOST=https://sowash.com
export FILE_ROOT=recordings/mp3
export SECRET_KEY_BASE=[set at runtime]
export RAILS_ENV=production

/home/michael/.rbenv/shims/bundle exec rails s -p 8181 -b 0.0.0.0

