<p>Free of charge, I will email PDFs of the scores and parts for any of my works to anyone who is interested. Print ‘em and play ‘em. I will also email free mp3s of these works so that you can hear them and see if you like the music.</p>
<p>If you want to see what I have written for your particular instrument or type of ensemble, just email me and ask: <%= mail_to 'rick@sowash.com' %>. I will send you lists of my works for violin, cello, flute, oboe, clarinet, horn, keyboard, solo vocal works, choral works, works for various chamber ensembles, etc.</p>
<p>It’s my policy nowadays to give away my music to the greatest extent possible. So there is no charge for the files I’m sending you. My gift. The musical ideas came to me for free, after all. I’m just passing them along.</p>
<p>Here is a list of all my works which I consider significant.</p>
