<span class="container works_list col-md-10 float-end">
  <div class="row">
    <div class="col">
      <h2>Title</h2>
    </div>
    <div class="col text-center">
      <h2>Composed In</h2>
    </div>
    <div class="col">
      <h2>Instrumentation</h2>
    </div>
  </div>
  <% @works.each_with_index do |work, index| %>
    <% row_identifier = "works_list_row_" + (index + 1).to_s %>
    <%= tag.div class: "row #{row_identifier}" do %>
      <div class="col">
        <%= link_to formatted_title(work), work_path(work) %>
      </div>
      <div class="col text-center">
        <%= work.composed_in %>
      </div>
      <div class="col">
        <%= oxford_list(work.list_instruments) %>
      </div>
    <% end %>
  <% end %>
</span>
