<% provide(:title, @work.title) %>
<%= render partial: "work" %>
<span class="row w-100 col-md-10 float-end">
  <% if LinerNote.where(work_id: @work.id).any? %>
    <%= simple_format(LinerNote.find_by_work_id(@work.id).note) %>
  <% end %>
</span>
<span class="row w-100 col-md-10 float-end">
  <% if logged_in? %>
    <span class="col-md-2 text-md-end">
    <% if !LinerNote.where(work_id: @work.id).any? %>
        <%= link_to "Add Liner Note",
            controller: :liner_notes,
            action: 'new',
            work_id: @work.id %>
      <% else %>
        <%= link_to "Edit Liner Note",
            controller: :liner_notes,
            action: 'edit',
            work_id: @work.id %>
      <% end %>
    </span>
  <% end %>
</span>
