/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

.alert-alert {
  background-color: $pink-100;
}

.alert-notice {
  background-color: $gray-100;
}

.vertically-center-right-justified {
  display: flex;
  align-items: center; /* Aligns vertically center */
  justify-content: right;
}

.vertically-center-left-justified {
  display: flex;
  align-items: center; /* Aligns vertically center */
  justify-content: left;
}

.align-items-center {
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.composer-homepage-titlebar {
  background-image: url("https://sowash.com/graphics/splash/cd2.jpg")
}
