<% provide(:title, "Instruments") %>
<div class="row col-md-12">
  <div class="col-md-4"><h3>Name</h3></div>
  <div class="col-md-4"><h3>Family</h3></div>
  <div class="col-md-4"><h3>Rank</h3></div>
</div>
<div class="row col-md-12">
  <%= render partial: "instrument", collection: @instruments %>
</div>
