<% provide(:title, "Instrument: #{@instrument.name}") %>
<div class="row col-md-12">
  <div class="col-md-6">Name</div>  
  <div class="col-md-6"><%= @instrument.name %></div>
</div>
<div class="row col-md-12">
  <div class="col-md-6">Family</div>
  <div class="col-md-6"><%= @instrument.family %></div>
</div>

